{% extends 'base.html.twig' %}
{% block title %} Ping URLS {% endblock %}
{% block body %}
    <div id="app">
        <app></app>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/script.js') }}"></script>#}
{% endblock %}