{% extends 'base.html.twig' %}
{% block title %} Ping URLS {% endblock %}
{% block body %}

<div class="col-lg-8 mx-auto p-3 py-md-5">
  {# Header #}
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" 
        class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" 
            width="40" 
            height="32" 
            class="me-2" 
            viewBox="0 0 118 94" 
            role="img">
            <title>Bootstrap</title>
            <path 
                fill-rule="evenodd" 
                clip-rule="evenodd" 
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" 
                fill="currentColor">
            </path>
        </svg>
      <span class="fs-4">PING URLs</span>
    </a>
  </header>
  {# End Header #}
  {# Main #}
  <main>
    <h1>Short links, big results</h1>
    <p class="fs-5 col-md-8">
        A URL shortener built with powerful tools 
        to help you grow and protect your brand.
    </p>
    <div class="mb-5">
      <a 
        href="javascript://;" 
        class="btn btn-success btn-lg px-4">Get Started for Free</a>
    </div>
    {# start #}
    <div class="row g-5">
        {# History #}
        <div class="col-md-5 col-lg-4 order-md-last" id="history">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Your recent URLs <span class="badge bg-primary rounded-pill" id="counter">0</span></h6>
                <div id="details_history">
                    
                </div>
            </div>
        </div>
        {# End History #}
        {# Form #}
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3"> Enter a long URL to make a Shorten</h4>
            <form 
                class="needs-validation" 
                id="formSubmit">
                <div class="input-group">
                    <input 
                        type="text" 
                        name="url"
                        id="url"
                        autofocus
                        class="form-control form-control-lg custom-input" 
                        placeholder="Shorten your link"
                    />
                    <button 
                        type="submit" 
                        class="btn btn-success ">Shorten</button>
                        
                </div>
                <div class="alert alert-danger mt-3" role="alert" id="error_wrapper"></div>
            </form>
            {# Result #}
            <ul class="list-group mb-3 mt-5" id="result">
                
            </ul>
            {# End Result #}
        </div>
        {# End Form #}
    </div>
    {# end #}
    <hr class="my-4">
    <div class="row g-5">
        <div class="col-md-6">
            <h2>Create a free account to enjoy:</h2>
            <p>Free basic ad-supported shortening for individual users. Customize your links and keep track of your link history.</p>
            <ul class="icon-list">
                <li>Easy Link Shortening</li>
                <li>Full Link History</li>
                <li class="text-muted">Customized PINGURLs</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Guides:</h2>
            <p>Read more detailed instructions and documentation</p>
            <ul class="icon-list">
            <li><a href="https://github.com/Remedio1234/activelampexam">Project Repository</a></li>
            <li><a href="console.cloud.google.com/">Google Cloud: Cloud Computing Services</a></li>
            <li><a href="https://symfony.com/">PHP Symfony Framework</a></li>
            <li><a href="https://getbootstrap.com/">CSS Bootstrap Framework</a></li>
            </ul>
        </div>
    </div>
</main>
  {# End Main #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/script.js') }}"></script>#}
{% endblock %}